<p>
  <%= f.select :project_ids, project_tree_options(@issue.allowed_target_projects|[@issue.project]|@issue.projects, :selected => [@issue.project]|@issue.projects), {:required => true, :label => l("concerned_projects")},
               {:multiple => true, :size => 10, style: "display:none;"} %>
  <%= render 'projects_list' %>
  <br/>
  <%= link_to l("modify_projects"), plugin_multiprojects_issue_load_projects_selection_path(:issue_id => @issue.id, :project_id => @issue.project.id), remote: true, id: "loadModalProjectsSelection" %>
</p>
