<% if (@issue.projects-[@issue.project]).present? %>
  <hr>
  <div id="current_projects_list" style="display: flex;">
    <span id="label_related_projects"><%= l("related_projects") %></span><%= render 'projects_list' %>
  </div>
  <% unless @project.is_public? || User.current.admin? || User.current.member_of?(@project) %>
    <script>$('#sidebar').hide();</script>
  <% end %>
<% end %>
