<% if @issue.projects.present? %>
  <hr>
  <div id="current_projects_list" style="display: flex;">
    <span id="label_concerned_projects"><%= l("concerned_projects") + ":" %></span><%= render 'projects_list' %>
  </div>
<% end %>
