var involved_project_ids = $('#issue_project_ids').val();
if (involved_project_ids == null) {
    involved_project_ids = '';
}

/* Compatibility with redmine_customize_core_fields plugin */
<% if Redmine::Plugin.installed?(:redmine_customize_core_fields) && Setting['plugin_redmine_customize_core_fields']['override_issue_form'] == 'true' && @issue.project.module_enabled?("customize_core_fields") %>
replaceIssueFormWith('<%= escape_javascript(render :partial => 'issues/form_with_positions') %>');
<% else %>
replaceIssueFormWith('<%= escape_javascript(render :partial => 'issues/form') %>');
<% end %>

/** Start Standard Redmine */

<% case params[:form_update_triggered_by] %>
<% when "issue_project_id" %>
$("#watchers_form_container").html('<%= escape_javascript(render :partial => 'issues/watchers_form') %>');
<% when "issue_category_id" %>
$('#issue_assigned_to_id').find('option').first().html('<%= escape_javascript(@issue.category.try(:assigned_to).try(:name)).presence || '&nbsp;'.html_safe %>');
<% end %>

/** End Standard Redmine */

$('#issue_project_ids').val(involved_project_ids);

var htmlContent = "";
$.each(involved_project_ids, function (key, name) {
    htmlContent += ' <span class="list_projects_names">';
    htmlContent += $('#issue_project_ids option[value=' + name + ']').html().replace(/&nbsp;/gi, '').replace("» ", "");
    htmlContent += "</span>";
});
$("#projects_form #list_of_projects_per_issue").html(htmlContent);
if (htmlContent == "") {
    $(".and_x_other_projects").css("display", "none");
    $("#answers-on-secondary-projects").hide()
} else {
    $(".and_x_other_projects").css("display", "inline");
    $("#answers-on-secondary-projects").show()
}
